.navHeader {
    top: 0;
    left: 0;
    width: 100%;
}

.navHeader .navline{
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    left: 0;
}

.navbar a {
    margin-left: 40px;
}

#navi {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.2em 0.85em;
    transition: top 0.3s; /* Add smooth transition for the top property */
    box-sizing: border-box;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); /* Simulate additional bottom padding with box-shadow */
}

#navi.hidden {
top: -100px; /* Move the navbar up by its height (adjust as needed) */
}

.navbarPading {
    position: static;
    padding-bottom: 1.5em;
}